<li>
  {{#link-to 'property' property.id}} Ksh.{{property.cost}} worth of property in {{property.location}} {{/link-to}}

  {{#if isImageShowing}}
    <p> <img src={{property.image}} alt={{property.location}} {{action "imageHide"}}> </p>
  {{else}}
    <button {{action "imageShow"}}>Show Image Preview</button>
  {{/if}}

</li>
<br>
