located in {{property.location}}, is a {{property.bedrooms}} bedroom property that is available for viewing upon request.
<br>
<p><img src={{property.image}} alt={{property.location}}></p>
<button {{action "delete" property}}>Delete Property listing</button>
